.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.title-bar {
  grid-area: 1 / 2 / 3 / 10;
  padding: 3 px;
  margin: 10px 0px;

  border: 2px solid black ;
  /* text-align: center; */
}
.landmark-bar {
  grid-area: 3 / 1 / 10 / 3;
  padding: 3 px;
  margin: 10px 0px;
  border: 2px solid black ;
}
.hometown-bar {
  grid-area: 3 / 4 / 4 / 8;
  padding: 3 px;
  margin: 10px 0px;
  border: 2px solid black ;
}
.image-box {
  grid-area: 4 / 3 / 8 / 9;
  padding: 3 px;
  margin: 10px 0px;
  border: 2px solid black ;
  max-width: 100% ;
  max-height: 100%;
}
.landmark-info {
  grid-area: 8 / 3 / 11 / 9;
  padding: 3 px;
  margin: 10px 0px;
  border: 2px solid black ;
}
.landmark-form {
  grid-area: 3 / 9 / 10 / 11;
  padding: 3 px;
  margin: 10px 0px;
  border: 2px solid black ;
}

.sign-in-bar {
  grid-area: 3 / 1 / 11 / 11;
}

.sign-in-2 { 
  grid-area: 5 / 4 / 7 / 8; 
  border: 2px solid black ;
}

.center {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.black-background{
  background-color: black;
}

.white-background{
  background-color: white;
}

.container {
  display: flex; 
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 70%;
  margin: 0px auto;
}

.landmark-image {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  /* border-radius: 50%; */
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}