.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.body {
  margin: 0
}

.title-bar {
  grid-area: 1 / 2 / 3 / 10;
  /* padding: 3 px;
  margin: 10px 0px; */

  /* border: 2px solid black ; */
  /* text-align: center; */
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}
.landmark-bar {
  /* grid-area: 3 / 1 / 10 / 3; */
  /* padding: 3 px;
  border: 2px solid black ; */
  margin: 2px 20px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  /* padding: 30px; */
  width: 100%;
  max-width: 300px;
  float: left;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}
.hometown-bar {
  grid-area: 3 / 4 / 4 / 8;
  /* padding: 3 px;
  margin: 10px 0px;
  border: 2px solid black ; */
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 1px 5px 5px 5px;
  width: 90%;
  max-width: 450px;
  position: relative;
  /* padding: 0px; */
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

.hometown-bar button {
  margin: 2px 2px 2px 2px;
  width: fit-content;

}

.hometown-bar .h1 {
  font-weight: bolder;
}
.image-box {
  /* grid-area: 4 / 3 / 8 / 9; */
  /* padding: 3 px;
  border: 2px solid black ;
  max-width: 100% ;
  max-height: 100%; */
  margin: 5px 0px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 0px;
  width: 100%;
  max-width: 950px;
  float: right;
  padding: 0px;
  -webkit-box-shadow: 0px 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0px 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}
/* .landmark-info {
  grid-area: 8 / 3 / 11 / 9;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
} */

.info-form {
  grid-area: 8 / 3 / 11 / 9;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

/* .landmark-form {
  grid-area: 8 / 3 / 11 / 9;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
} */

.sign-in-bar {
  grid-area: 3 / 1 / 11 / 11;
}

.sign-in-2 { 
  grid-area: 5 / 4 / 7 / 8; 
  border: 2px solid black ;
}

.center {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.black-background{
  background-color: black;
}

.white-background{
  background-color: white;
}

.container {
  display: flex; 
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 70%;
  margin: 0px auto;
}

.landmark-image {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  /* border-radius: 50%; */
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.bold {
 font-weight: bolder;
}

#map {
  height: 400px;
  width: 100%;
}

/* FLEX STUFF */
.flex-container {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 50px;
  list-style: none;
  /* border: 1px solid silver; */
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
}

.nowrap  { 
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.wrap    { 
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}  
.wrap li {
  background: rgb(0, 195, 255);
}

.wrap-reverse         { 
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}  
.wrap-reverse li {
  background: deepskyblue;
}

.flex-item {
  background: rgb(250, 249, 249);
  /* padding: 5px;
  width: 100px;
  height: 100px;
  margin: 10px; */
/*   
  line-height: 100px; */
  /* color: white;
  font-weight: bold; */
  /* font-size: 2em; */
  text-align: center;
}

.top-bar{
  background-color: black;
  /* position: fixed; */
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 60px;
  padding: 0px;
  /* z-index: 999; */
  /* overflow: hidden; */
  margin-bottom: 20px;

}

.top-bar .small-logo{
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 25px;
  /* letter-spacing: 1em; */
  color: white;
  line-height: 60px;
  margin-left: 20px;
  float: left;
}

.top-bar .search-container #search-input{
  width: 60%;
  padding: 8px 30px 8px 5px;
  /* border: 2px solid rgba(0, 0, 0, 0.08); */
  outline: none;
  font-size: 13px;
  /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.06); */
  color: #F27121;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  transition: all 0.2s ease;
  
  /* display: inline-block; */
  /* vertical-align: middle; */
  /* padding: 6px 10px; */
  margin-top: 10px;
  
}


.top-bar .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 10px;
  margin-right: 16px;
  font-size: 17px;
  border: none;
  cursor: pointer;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.top-bar .search-container {
  float: right;
  /* vertical-align: middle; */
}